---
layout: main
permalink: /404.html
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<section class="blog-tags">
<br>
<center>
<h1>Wygląda na to, że to, czego szukasz, nie istnieje.<br>
<b>Co rodzi pytanie:</b> Jak bardzo jesteś pewien, że to, czego szukasz, jest tym, czego potrzebujesz?
</h1>
</center>
<br><br>
Jeśli wiesz, że informacje których szukasz powinny tu być, to przejrzyj poniższe kategorie może znajdziesz to czego szukasz, a jeśli nie, to może znajdziesz coś, co Cię zainteresuje.

<!--cycles through tag list and creates subheader for each tag name...-->
  {% for this_word in tag_words %}
  <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
<!--  lists all posts corresponding to specific tag...-->
    {% for post in site.tags[this_word] %}{% if post.title != null %}
    <div class="tag-list">
        <span>— <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.internal-title %}        
        {{post.internal-title}}        
        {% else %}
        {{ post.title }}
        {% endif %} </a></span>
    </div>
    {% endif %}{% endfor %}
  {% endfor %}

<br>
<hr width="100%">
<p align=center>
<a href="/">wracaj do domu</a>
<br><br>
Internet jest tajemniczym i potężnym miejscem, a jego tajemniczość przewyższa jedynie jego moc.
</p>

</section>