<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.analytics}}');
</script>

<!-- StatCounter code for Radoslaw Roszczyk Blog (blog.roszczyk.net) -->
<script>
  var sc_project = 12105020;
  var sc_invisible = 0;
  var sc_security = "087cd796";
</script>
<script async src="https://www.statcounter.com/counter/counter.js"></script>
<noscript>
  <div class="statcounter">
    <a title="Web Analytics" href="https://statcounter.com/" target="_blank" rel="noopener noreferrer">
      <img class="statcounter"
           src="https://c.statcounter.com/12105020/0/087cd796/0/"
           alt="Web Analytics"
           referrerpolicy="no-referrer-when-downgrade">
    </a>
  </div>
</noscript>
<!-- End StatCounter Code -->
